<script>
  const signoutButton = document.getElementById("signout");
  signoutButton.addEventListener("click", () => {
    fetch("/signout", {
      method: "POST",
    }).then(() => {
      window.location.href = "/";
    });
  });

  //get namaalpro.name that starts with FE- from database
  const fearray = [];
  const odcsmt = [];
  const odcjhr = [];
  const odcmjb = [];
  const smtdist = [];
  const jhrdist = [];
  const mjbdist = [];
  const odpsmt = [];
  const odpjhr = [];
  const odpmjb = [];
  fetch("/api/admin/getAllNamaAlpro")
    .then((res) => res.json())
    .then((data) => {
      data.forEach((namaalpro) => {
        if (namaalpro.name.startsWith("FE")) {
          fearray.push(`${namaalpro.name}|${namaalpro.name}`);
        } else if (namaalpro.name.startsWith("ODC-SMT")) {
          odcsmt.push(`${namaalpro.name}|${namaalpro.name}`);
        } else if (namaalpro.name.startsWith("ODC-JHR")) {
          odcjhr.push(`${namaalpro.name}|${namaalpro.name}`);
        } else if (namaalpro.name.startsWith("ODC-MJB")) {
          odcmjb.push(`${namaalpro.name}|${namaalpro.name}`);
        } else if (namaalpro.name.startsWith("SMT-FB-D")) {
          smtdist.push(`${namaalpro.name}|${namaalpro.name}`);
        } else if (namaalpro.name.startsWith("JHR-FB-D")) {
          jhrdist.push(`${namaalpro.name}|${namaalpro.name}`);
        } else if (namaalpro.name.startsWith("MJB-FB-D")) {
          mjbdist.push(`${namaalpro.name}|${namaalpro.name}`);
        } else if (namaalpro.name.startsWith("ODP-SMT-FB")) {
          odpsmt.push(`${namaalpro.name}|${namaalpro.name}`);
        } else if (namaalpro.name.startsWith("ODP-JHR-FB")) {
          odpjhr.push(`${namaalpro.name}|${namaalpro.name}`);
        } else if (namaalpro.name.startsWith("ODP-MJB-FB")) {
          odpmjb.push(`${namaalpro.name}|${namaalpro.name}`);
        }
      });
    });

  const dropdown = (s1, s2, s3) => {
    let sel1 = document.getElementById(s1);
    let sel2 = document.getElementById(s2);
    let sel3 = document.getElementById(s3);

    sel3.innerHTML = "";

    if (sel2.value === "Kabel Feeder") {
      var optionArray = fearray;
    } else if (sel1.value === "SMT" && sel2.value === "ODC") {
      var optionArray = odcsmt;
    } else if (sel1.value === "JHR" && sel2.value === "ODC") {
      var optionArray = odcjhr;
    } else if (sel1.value === "MJB" && sel2.value === "ODC") {
      var optionArray = odcmjb;
    } else if (sel1.value === "SMT" && sel2.value === "Kabel/Distribusi") {
      var optionArray = smtdist;
    } else if (sel1.value === "JHR" && sel2.value === "Kabel/Distribusi") {
      var optionArray = jhrdist;
    } else if (sel1.value === "MJB" && sel2.value === "Kabel/Distribusi") {
      var optionArray = mjbdist;
    } else if (sel1.value === "SMT" && sel2.value === "ODP") {
      var optionArray = odpsmt;
    } else if (sel1.value === "JHR" && sel2.value === "ODP") {
      var optionArray = odpjhr;
    } else if (sel1.value === "MJB" && sel2.value === "ODP") {
      var optionArray = odpmjb;
    }

    for (let option in optionArray) {
      let pair = optionArray[option].split("|");
      let newOption = document.createElement("option");

      newOption.value = pair[0];
      newOption.innerHTML = pair[1];
      // add the new option
      sel3.innerHTML = sel3.innerHTML + newOption.outerHTML;
    }
  };

  // add active-nav-link class to the current page and add opacity-75 hover:opacity-100 to the other page
  const navLink = document.querySelectorAll(".leftbar");

  navLink.forEach((link) => {
    if (link.href === window.location.href) {
      link.classList.add("active-nav-link");
    } else {
      link.classList.add("opacity-75", "hover:opacity-100");
    }
  });

  const rejectbutton = () => {
    // if class leftbar href is admin then hide report button
    let redesignreject = document.getElementById("redesignreject");

    //add href to redesign reject

    redesignreject.action = "/proposal/reject/<%= proposal._id %>";
  };

  const redesignbutton = () => {
    // if class leftbar href is admin then hide report button
    let redesignreject = document.getElementById("redesignreject");

    //add href to redesign reject

    redesignreject.action = "/proposal/redesign/<%= proposal._id %>";
  };

  const hidemenu = () => {
    // if class leftbar href is admin then hide report button
    let pindah = document.querySelector(".leftbar").href.split("/");
    if (pindah[pindah.length - 1] == "admin") {
      document.getElementById("dbmenu").classList.remove("hidden");
      document.getElementById("formAdmin").classList.remove("hidden");
    } else if (pindah[pindah.length - 1] == "proposer") {
      document.getElementById("myproposal").classList.remove("hidden");
    } else if (pindah[pindah.length - 1] == "designer") {
      document.getElementById("completeproposal").classList.remove("hidden");
      document.getElementById("redesignproposal").classList.remove("hidden");
    } else if (pindah[pindah.length - 1] == "executor") {
      document.getElementById("installationproposal").classList.remove("hidden");
    } 
  };

  const dbedit = () => {
    let dbedit = document.querySelector(".dbedit");

    if (dbedit.classList.contains("hidden")) {
      dbedit.classList.remove("hidden");
    } else {
      dbedit.classList.add("hidden");
    }
  };

  const adddata = () => {
    const sel1 = document.getElementById("sel1");
    let adddata = document.getElementById("formadd");

    if (sel1.value == "Nama STO") {
      adddata.action = "/adddata/namasto";
    } else if (sel1.value == "Segmen") {
      adddata.action = "/adddata/segmen";
    } else if (sel1.value == "Nama Alpro") {
      adddata.action = "/adddata/alpro";
    } else {
      adddata.action = "/adddata/jenisqe";
    }
  };

  const deletedata = async () => {
    const sel1 = document.getElementById("sel1");
    const sel2 = document.getElementById("pilihdata");
    let setdata = [];

    if (sel1.value == "Nama STO") {
      // await fetch data from "/api/admin/getAllNamaSTO"
      let arraysto = [];
      await fetch("/api/admin/getAllNamaSTO")
        .then((res) => res.json())
        .then((data) => {
          data.forEach((nama) => {
            arraysto.push(`${nama.name}|${nama.name}`);
          });
        });
      setdata = arraysto;

      // change form action to "/api/admin/editNamaSTO"
      document.getElementById("formedit").action = "/deletedata/namasto";
    } else if (sel1.value == "Segmen") {
      let arraysegmen = [];
      await fetch("/api/admin/getAllSegmen")
        .then((res) => res.json())
        .then((data) => {
          data.forEach((nama) => {
            arraysegmen.push(`${nama.name}|${nama.name}`);
          });
        });

      setdata = arraysegmen;
      document.getElementById("formedit").action = "/deletedata/segmen";
    } else if (sel1.value == "Jenis QE") {
      let arrayjenisqe = [];
      await fetch("/api/admin/getAllJenisQE")
        .then((res) => res.json())
        .then((data) => {
          data.forEach((nama) => {
            arrayjenisqe.push(`${nama.name}|${nama.name}`);
          });
        });
      setdata = arrayjenisqe;
      document.getElementById("formedit").action = "/deletedata/jenisqe";
    } else if (sel1.value == "Nama Alpro") {
      let arraynamaalpro = [];
      await fetch("/api/admin/getAllNamaAlpro")
        .then((res) => res.json())
        .then((data) => {
          data.forEach((nama) => {
            arraynamaalpro.push(`${nama.name}|${nama.name}`);
          });
        });
      setdata = arraynamaalpro;
      document.getElementById("formedit").action = "/deletedata/namaalpro";
    }
    sel2.innerHTML = "<option >Pilih Data</option>";
    for (let option in setdata) {
      let pair = setdata[option].split("|");
      let newOption = document.createElement("option");

      newOption.value = pair[0];
      newOption.innerHTML = pair[1];
      // add the new option
      sel2.innerHTML = sel2.innerHTML + newOption.outerHTML;
    }

    // add every data to the sel2 dropdown
  };

  const changedata = async () => {
    const sel1 = document.getElementById("sel1");
    const sel2 = document.getElementById("pilihdata");
    let setdata = [];

    if (sel1.value == "Nama STO") {
      // await fetch data from "/api/admin/getAllNamaSTO"
      let arraysto = [];
      await fetch("/api/admin/getAllNamaSTO")
        .then((res) => res.json())
        .then((data) => {
          data.forEach((nama) => {
            arraysto.push(`${nama.name}|${nama.name}`);
          });
        });
      setdata = arraysto;

      // change form action to "/api/admin/editNamaSTO"
      document.getElementById("formedit").action = "/changedata/namasto";
    } else if (sel1.value == "Segmen") {
      let arraysegmen = [];
      await fetch("/api/admin/getAllSegmen")
        .then((res) => res.json())
        .then((data) => {
          data.forEach((nama) => {
            arraysegmen.push(`${nama.name}|${nama.name}`);
          });
        });

      setdata = arraysegmen;
      document.getElementById("formedit").action = "/changedata/segmen";
    } else if (sel1.value == "Jenis QE") {
      let arrayjenisqe = [];
      await fetch("/api/admin/getAllJenisQE")
        .then((res) => res.json())
        .then((data) => {
          data.forEach((nama) => {
            arrayjenisqe.push(`${nama.name}|${nama.name}`);
          });
        });
      setdata = arrayjenisqe;
      document.getElementById("formedit").action = "/changedata/jenisqe";
    } else if (sel1.value == "Nama Alpro") {
      let arraynamaalpro = [];
      await fetch("/api/admin/getAllNamaAlpro")
        .then((res) => res.json())
        .then((data) => {
          data.forEach((nama) => {
            arraynamaalpro.push(`${nama.name}|${nama.name}`);
          });
        });
      setdata = arraynamaalpro;
      document.getElementById("formedit").action = "/changedata/namaalpro";
    }
    sel2.innerHTML = "<option >Pilih Data</option>";
    for (let option in setdata) {
      let pair = setdata[option].split("|");
      let newOption = document.createElement("option");

      newOption.value = pair[0];
      newOption.innerHTML = pair[1];
      // add the new option
      sel2.innerHTML = sel2.innerHTML + newOption.outerHTML;
    }

    // add every data to the sel2 dropdown
  };

  const hiddens = () => {
    let jenisQE = document.getElementById("QE");
    let koordinatBaru = document.getElementById("koordinat");

    if (jenisQE.value != "Normalisasi ODP") {
      koordinatBaru.classList.add("hidden");
    } else {
      koordinatBaru.classList.remove("hidden");
    }
  };

  //ambil data proposal dari database berdasarkan parameter id
  const selected = () => {
    const id = window.location.pathname.split("/")[2];
    // tambahkan selected pada option yang sesuai dengan data yang diambil dari database pada namaSTO, namaAlpro, dan namaQE
    fetch(`/api/admin/proposal/${id}`)
      .then((res) => res.json())
      .then((data) => {
        // set attribute selected pada option yang sesuai dengan data yang diambil dari database
        const sel1 = document.getElementById("sel1");
        const sel2 = document.getElementById("sel2");
        const sel3 = document.getElementById("sel3");
        const textalpro = document.getElementById("textalpro");
        const sel4 = document.getElementById("QE");
        const sel5 = document.getElementById("koordinatODPBaru");
        const sel6 = document.getElementById("keterangan");

        //set attribute selected pada option yang sesuai dengan data yang diambil dari database
        sel1.value = data.namaSTO;
        sel2.value = data.segmen;
        textalpro.value = data.namaAlpro;
        sel4.value = data.jenisQE;
        sel5.value = data.koordinatODPBaru;
        sel6.value = data.keterangan;
      });
  };
</script>
