<div class="max-w-7xl bg-white rounded-lg overflow-hidden shadow-md">
<form id="formeditpassword" action="" method="post" class="w-full p-6">
<div class="md:items-center mb-6">
    <div class="md:w-1/3">
      <label
        class="block text-gray-500 font-bold md:text-left mb-1 md:mb-0 pr-4"
        for="inline-password"
      >
        Old Password
      </label>
    </div>
    <div class="relative md:min-w-max z-10">
        <input
          name="passwordlama"
          id="passwordlama"
          class="bg-white appearance-none border-2 border-gray-300 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
          type="password"
          placeholder="Input Old Password"
          required
        />
        <div
          class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
        ></div>
        <p id="passwordlamadiisi" class="text-red-500 text-xs italic "></p>
        <p id="error-message" class="text-red-500 text-xs italic ">
          <% if (typeof error !== 'undefined' && error) { %>
            <%= error %>
          <% } %>
          </p>
      </div>
  </div>
  <div class="md:items-center mb-6">
    <div class="md:w-1/3">
      <label
        class="block text-gray-500 font-bold md:text-left mb-1 md:mb-0 pr-4"
        for="inline-password"
      >
        New Password
      </label>
    </div>
    <div class="relative md:min-w-max z-10">
      <input name="passwordbaru" id="passwordbaru" class="bg-white appearance-none border-2 border-gray-300 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" type="password" required placeholder="Input New Password">
      <div
        class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
      >
        
      </div>
      <p id="passwordbarudiisi" class="text-red-500 text-xs italic "></p>
    </div>
  </div>
  <div class="md:items-center mb-6">
    <div class="md:w-1/3">
      <label
        class="block text-gray-500 font-bold md:text-left mb-1 md:mb-0 pr-4"
        for="inline-password"
      >
        Confirm Password
      </label>
    </div>
    <div class="relative md:min-w-max z-10">
      <input name="konfirmasipasswordbaru" id="konfirmasipasswordbaru" class="bg-white appearance-none border-2 border-gray-300 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" type="password" required placeholder="Input Confirmation Password">
      <div
        class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
      >
        
      </div>
      <p id="konfirmasipasswordbarudiisi" class="text-red-500 text-xs italic "></p>
    </div>
  </div>
  <div class="md:items-end">
  <div class="md:flex md:w-full justify-end">
    <input
      id="submit-btn"
      class="shadow-lg bg-green-500 hover:bg-white hover:text-green-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" style="outline-style: solid; outline-color: #39b846; outline-width: 2px;"
      type="submit"
      
    >
      
    </input>
  </div>
  </div>
</form>
</div>

<script>
// ambil parameter error dari URL
const urlParams = new URLSearchParams(window.location.search);
const errorMessage = urlParams.get('error');

// jika parameter error ada, tampilkan pesan error
if (errorMessage) {
  document.querySelector('#error-message').textContent = errorMessage;
} else {
  document.querySelector('#error-message').textContent = "";
}

var form = document.getElementById("formeditpassword");
var btn = document.getElementById("submit-btn");

btn.addEventListener("click", function (event) {
  event.preventDefault();
  var passwordlama = document.getElementById("passwordlama").value;
  var passwordbaru = document.getElementById("passwordbaru").value;
  var konfirmasipasswordbaru = document.getElementById("konfirmasipasswordbaru").value;

  var error = false;
  
  if (passwordlama == "") {
    //type catatan tidak boleh kosong under textarea with red color
    document.getElementById("passwordlamadiisi").innerText =
      "old password cannot be empty";
    error = true;
  } else {
    document.getElementById("passwordlamadiisi").innerText = "";
  } 
  
  if(passwordbaru == ""){
    document.getElementById("passwordbarudiisi").innerText =
      "new password cannot be empty";
    error = true;
  } else {
    document.getElementById("passwordbarudiisi").innerText = "";
  } 
  
  if(konfirmasipasswordbaru == ""){
    document.getElementById("konfirmasipasswordbarudiisi").innerText =
      "New Password conformation cannot be empty";
    error = true;
  } else {
    document.getElementById("konfirmasipasswordbarudiisi").innerText = "";
  } 
    
  if (konfirmasipasswordbaru !== passwordbaru){
    document.getElementById("konfirmasipasswordbarudiisi").innerText =
      "New Password Confirmation is not the same as the new password";
    error = true;
  }
   

  if (!error) {
    const data = new FormData(form);
    const xhr = new XMLHttpRequest();
    xhr.open("POST", "/changepassworduserpage");
    xhr.onload = () => {
      if(xhr.status === 200){
        Swal.fire({
          title: 'Change Password',
          text: 'Are you sure you want to change your password?',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, change it!'
        }).then((result) => {
          if (result.isConfirmed) {
            // Check if old password is correct
            console.log(xhr.status);
            // if(xhr.status === 200){
              Swal.fire(
                'Changed!',
                'Password is Successfully Changed!',
                'success'
              ).then(() => {
                window.location.href = "/changepassworduserpage";
              })
            // } 
          }
        });
      }
      else {
              Swal.fire(
                'Failed!',
                'Password Failed to Change!',
                'error'
              ).then(() => {
                window.location.href = "/changepassworduserpage";
              })
            }
    }
    xhr.send(data);
  }
});

</script>

<%- include('./js/js.ejs') %>