<form id="formedit" action="" method="post" class="w-full max-w-sm">
  <div class="md:flex md:items-center mb-6">
    <div class="md:w-1/3">
      <label
        class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4"
        for="inline-full-name"
      >
        Jenis
      </label>
    </div>
    <div class="relative md:w-2/3">
      <select
        name="jenis"
        class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
        id="sel1"
        onchange="changedata()"
        type="text"
        required
      >
        <option value="" disabled selected hidden>Pilih Jenis</option>
        <option value="Nama STO">Nama STO</option>
        <option value="Segmen">Segmen</option>
        <option value="Nama Alpro">Nama Alpro</option>
        <option value="Jenis QE">Jenis QE</option>
      </select>
      
    </div>
  </div>
  <div class="md:flex md:items-center mb-6">
    <div class="md:w-1/3">
      <label
        class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4"
        for="inline-password"
      >
        Data Lama
      </label>
    </div>
    <div class="relative md:w-2/3">
      <select
        name="name"
        class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
        id="pilihdata"
        type="text"
        required
      > 
        <option value=""disabled selected hidden>Pilih Data</option>
        



      </select>
      
    </div>
  </div>
  <div class="md:flex md:items-center mb-6">
    <div class="md:w-1/3">
      <label
        class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4"
        for="inline-password"
      >
        Data Baru
      </label>
    </div>
    <div class="relative md:w-2/3">
      <input name="namebaru" id="sel3" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" type="text" required placeholder="Masukkan Data Baru">
      <div
        class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
      >
        
      </div>
    </div>
  </div>
  
  <div class="md:flex md:items-center mb-1">
    <div class="md:w-1/3"></div>
  </div>
  <div class="md:flex md:items-center">
    <div class="md:w-1/3"></div>
    <div class="md:w-2/3">
      <input
        id="change-btn"
        class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
        type="submit"
        
      >
        
    </input>
    </div>
  </div>
</form>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
  
  const form = document.getElementById('formedit');
  const btn = document.getElementById('change-btn');

      $('#pilihdata').select2(
      {
        placeholder: 'Pilih Data',
        allowClear: true
      }
    );

          $('#sel1').select2(
      {
        placeholder: 'Pilih Jenis',
        allowClear: true
      }
    );

  
  btn.addEventListener('click', (e) => {
    console.log("A")
    const select1 = document.getElementById('sel1').value
    const select2 = document.getElementById('pilihdata').value
    const select3 = document.getElementById('sel3').value
    console.log(select1)
    e.preventDefault()
    console.log("A")
    const data = new FormData(form);
    const xhr = new XMLHttpRequest();
        if (select1 === "" || select2 === "" || select3 === "") {
        Swal.fire({
            title: "Error",
            text: "Semua field harus diisi!",
            icon: "error",
        });
        return;
    }
    xhr.open('POST', '/changedata');
    xhr.onload = () => {
      if (xhr.status === 200) {
        Swal.fire({
          title: 'Changed!',
          text: select1 + ' Berhasil Digganti Dari ' + select2 + " Menjadi " + select3,
          icon: 'success',
        }).then((result) => {
          if (result.isConfirmed) {
            window.location.href = '/changedata';
          }
        });

      } else {
        Swal.fire({
          title: "Error",
          text: "Gagal Mengganti Data",
          icon: "error",
        }).then((result) => {
          if (result.isConfirmed) {
            window.location.href = '/changedata';
          }
        });
      }
    }
    xhr.send(data)
  })


</script>
<%- include('./js/js.ejs') %>
