<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Peduli Akses</title>
    <meta name="description" content="" />

    <!-- Tailwind -->
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet"> -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
      rel="stylesheet"
    />
    <style>
      @import url("https://fonts.googleapis.com/css?family=Karla:400,700&display=swap");
      .font-family-karla {
        font-family: karla;
      }
      .bg-sidebar {
        background: #ffffff;
      }
      .cta-btn {
        color: #ed1e28;
      }
      .upgrade-btn {
        background: #ed1e28;
      }
      .upgrade-btn:hover {
        background: #ed1e28;
      }
      .active-nav-link {
        background: #de4a51;
        color: #ffffff;
      }
      .nav-item:hover {
        --tw-bg-opacity: 1;
        background-color: rgb(248 113 113 / var(--tw-bg-opacity));
      }
      .account-link:hover {
        background: #de4a51;
      }
    </style>
  </head>
  <body onload="hidemenu()" class="bg-gray-100 font-family-karla flex">
    <%- include('./nav') %>
    <div class="w-full flex flex-col h-screen overflow-y-hidden">
      <%- include('./header.ejs') %>
      <div class="w-full overflow-x-hidden border-t flex flex-col">
        <main class="w-full flex-grow p-6">
          <%- include(`../${data}.ejs`) %>
        </main>
      </div>
    </div>

    <!-- AlpineJS -->
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>
    <!-- Font Awesome -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
      integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs="
      crossorigin="anonymous"
    ></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </body>
</html>
<%- include('../js/js.ejs') %>
