<aside class="relative bg-sidebar h-screen w-64 hidden sm:block shadow-xl">
  <div class="p-6">
    <a
      href="index.html"
      class="text-white text-3xl font-semibold uppercase hover:text-gray-300"
      ><%= pindah %></a
    >
    <button
      id="reportbutton"
      class="w-full bg-white cta-btn font-semibold py-2 mt-5 rounded-br-lg rounded-bl-lg rounded-tr-lg shadow-lg hover:shadow-xl hover:bg-gray-300 flex items-center justify-center"
    >
      <i class="fas fa-plus mr-3"></i> New Report
    </button>
  </div>
  <nav class="text-white text-base font-semibold pt-3">
    <a
      href="/<%= pindah %>"
      class="leftbar flex items-center transition ease-in-out duration-150 text-white py-4 pl-6 nav-item"
    >
      <i class="fas fa-tachometer-alt mr-3"></i>
      Dashboard
    </a>
    <!-- when menu is clicked add sub menu -->
    <a
      id="dbmenu"
      onclick="dbedit()"
      class="leftbar cursor-pointer flex items-center transition ease-in-out duration-150 text-white py-4 pl-6 nav-item"
      ><i class="fas fa-regular fa-pen mr-3"></i>Database</a
    >
    <div class="dbedit hidden">
      <a
        href="/adddata"
        class="leftbar flex items text-blue-500 bg-white py-4 pl-20 transition ease-in-out duration-150 hover:bg-slate-50"
        >Add Data</a
      >
      <a
        href="/changedata"
        class="leftbar flex items text-blue-500 bg-white py-4 pl-20 transition ease-in-out duration-150 hover:bg-slate-50"
        >Edit Data</a
      >
      <a
        href="/deletedata"
        class="leftbar flex items text-blue-500 bg-white py-4 pl-20 transition ease-in-out duration-150 hover:bg-slate-50"
        >Delete Data</a
      >
    </div>

    <a
      id="formAdmin"
      href="/formAdmin"
      class="leftbar flex items-center transition ease-in-out duration-150 text-white py-4 pl-6 nav-item"
    >
      <i class="fas fa-align-left mr-3"></i>
      Forms
    </a>
  </nav>
  <a
    href="#"
    class="absolute w-full upgrade-btn bottom-0 active-nav-link text-white flex items-center justify-center py-4"
  >
    <i class="fas fa-arrow-circle-up mr-3"></i>
  </a>
</aside>
