<aside class="relative bg-sidebar h-screen w-64 hidden sm:block shadow-xl">
  <div class="px-6 py-0">
    <img
      src="https://www.telkom.co.id/data/image_upload/page/1594108255409_compress_logo%20telkom%20indonesia.png"
      class="w-40 h-32 ml-3 mt-2"
    />
    <hr class="border-black border-1 my-6 mt-0" />
    <a
      class="text-black text-2xl font-semibold uppercase hover:text-gray-300 mt-n2"
      ><%= pindah %></a
    >
  </div>
  <nav class="text-white text-base font-semibold pt-3">
    <a
      id="dashboard"
      href="/dashboard"
      class="leftbar flex items-center transition ease-in-out duration-150 text-gray-600 py-4 pl-6 nav-item"
    >
      <i class="fas fa-tachometer-alt mr-3"></i>
      Dashboard
    </a>
    <a
      id="qeReport"
      href="/qereport"
      class="leftbar flex items-center transition ease-in-out duration-150 text-gray-600 py-4 pl-6 nav-item"
    >
      <i class="fas fa-tachometer-alt mr-3"></i>
      QE Report
    </a>
    <a
      id="proposer"
      href="/proposer"
      class="leftbar hidden flex items-center transition ease-in-out duration-150 text-gray-600 py-4 pl-6 nav-item"
    >
      <i class="fas fa-align-left mr-3"></i>
      New Proposal
    </a>
    <a
      href="/<%= pindah %>"
      id="inbox"
      class="leftbar inbox hidden flex items-center transition ease-in-out duration-150 text-gray-600 py-4 pl-6 nav-item"
    >
      <i class="fas fa-solid fa-envelope mr-3"></i>
      Inbox
    </a>
    <a
      id="myproposal"
      href="/showproposal"
      class="leftbar hidden flex items-center transition ease-in-out duration-150 text-gray-600 py-4 pl-6 nav-item"
    >
      <i class="fas fa-solid fa-file mr-3"></i>
      My Proposal
    </a>
    <a
      id="completeproposal"
      href="/submittedproposal"
      class="leftbar hidden flex items-center transition ease-in-out duration-150 text-gray-600 py-4 pl-6 nav-item"
    >
      <i class="fas fa-solid fa-file mr-4"></i>
      My Design
    </a>

    <a
      id="installationproposal"
      href="/installationproposal"
      class="leftbar hidden flex items-center transition ease-in-out duration-150 text-gray-600 py-4 pl-6 nav-item"
    >
      <i class="fas fa-edit mr-3"></i>
      On Installation
    </a>

    <a
      id="closedproposal"
      href="/closedproposal"
      class="leftbar hidden flex items-center transition ease-in-out duration-150 text-gray-600 py-4 pl-6 nav-item"
    >
      <i class="fas fa-check mr-3"></i>
      Closed Order
    </a>

    <!-- when menu is clicked add sub menu -->
    <a
      id="dbmenu"
      onclick="dbedit()"
      class="leftbar hidden cursor-pointer flex items-center transition ease-in-out duration-150 text-gray-600 py-4 pl-6 nav-item"
      ><i class="fas fa-solid fa-database mr-3"></i>Database</a
    >
    <div class="dbedit hidden">
      <a
        href="/adddata"
        class="leftbar flex items text-gray-600 py-4 pl-20 transition ease-in-out duration-150 hover:bg-red-400"
        >Add Data</a
      >
      <a
        href="/changedata"
        class="leftbar flex items text-gray-600 py-4 pl-20 transition ease-in-out duration-150 hover:bg-red-400"
        >Edit Data</a
      >
      <a
        href="/deletedata"
        class="leftbar flex items text-gray-600 py-4 pl-20 transition ease-in-out duration-150 hover:bg-red-400"
        >Delete Data</a
      >
    </div>

    <a
      id="adduser"
      href="/adduser"
      class="leftbar hidden flex items-center transition ease-in-out duration-150 text-gray-600 py-4 pl-6 nav-item"
    >
      <i class="fas fa-user-plus mr-3"></i>
      Add User
    </a>

    <a
      id="editpassword"
      href="/admineditpasswordpage"
      class="leftbar hidden flex items-center transition ease-in-out duration-150 text-gray-600 py-4 pl-6 nav-item"
    >
      <i class="fas fa-user-plus mr-3"></i>
      Change Password
    </a>
  </nav>
  <a
    href="#"
    class="absolute w-full upgrade-btn bottom-0 active-nav-link text-gray-600 flex items-center justify-center py-4"
  >
    <i class="fas fa-arrow-circle-up mr-3"></i>
  </a>
</aside>
